<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='search.js')}}"></script>
    </head>
    <body>
        <div class="row">
            <!--Main part-->
            <div id="temp" style="display:hidden;"></div>
            <div class="col-lg-11">
                <div class="d-flex justify-content-around">
                    <div class="p-2">
                        <a href="{{ url_for('welcome') }}"><img id="logo" src="../static/Velvet logo.png"></a>
                    </div>
                    <div class="p-2 flex-grow-1">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="add_item" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit" id="submit_button">Go</button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="filter" class="btn btn-primary btn-lg" onclick="document.getElementById('id01').style.display='block'">Filter</button>
                </div>
                <!--The modal-->
                <div id="id01" class="modal">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

                    <!-- Modal Content -->
                    <div class="modal-content animate">
                        <div class="container">
                            <label for="hardness"><b>Hardness</b></label>
                            <select class="custom-select" id="hardness">
                                <option value="easy" selected>Easy</option>
                                <option value="medium">Medium</option>
                                <option value="hard">Hard</option>
                            </select>
                            <label for="servings"><b>Serving Size</b></label>
                            <input type="text" placeholder="Enter serving size" id="serving" name="serving">

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="fridge" name="fridge">
                                <label class="custom-control-label" for="fridge">Use ingredients in my fridge only</label>
                            </div>
                            <label for="ingredients"><b>Add ingredients</b></label>
                            <input type="text" placeholder="Type in ingredients" id="ingredients" name="ingredients">
                            <button type="submit" id="submit">Submit</button>
                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
