<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='welcome_page.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="{{url_for('static', filename='welcome_page.js')}}"></script>
    </head>
    <body>
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <a href="{{ url_for('welcome') }}"><img id="logo" src="../static/Velvet logo.png"></a>
                </div>
                <div class="p-2 flex-grow-1">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search for recipes">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">Go</button> 
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div id="mySidebar" class="sidebar">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <img id="avatar" src="../static/avator icon.png">
                        <h2>Anmol</h2>
                        <div class="row">
                            <img id="icon" src="../static/home icon.png">
                            <a href="#">Home</a>
                        </div>
                        <div class="row">
                            <img id="icon" src="../static/settings icon.png">
                            <a href="#">Settings</a>
                        </div>
                        <button type="button" class="btn btn-danger btn-lg">Logout</button>
                    </div>
                                
                    <div id="main">
                        <button class="openbtn" onclick="openNav()">&#9776;</button> 
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <h1>Welcome Anmol!</h1>
        </div>
        <div style="height:42px"></div>
        <div class="d-flex justify-content-around">
            <div class="p-2">
                <a href="{{ url_for('fridge') }}"><img id="choice" src="../static/my-fridge.png"></a>
            </div>
            <div class="p-2">
                <a href="{{ url_for('groceries') }}"><img id="choice" src="../static/grocery-list.png"></a>
            </div>
            <div class="p-2">
                <a href="https://food-guide.canada.ca/en/" target="_blank"><img id="choice" src="../static/canada-food-guide.png"></a>
            </div>
        </div>
    </body>
</html>
